<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- targetSDK 32 이하 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- targetSDK 33 부터 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!-- targetSDK 34 이면서 Android OS 14 인 경우 -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeSample">
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeSample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Legacy sample activity -->
        <activity
            android:name=".presentation.legacy.sub.SubActivity"
            android:theme="@style/Theme.ComposeSample" />

        <activity
            android:name=".presentation.legacy.progress.ProgressActivity"
            android:theme="@style/Theme.ComposeSample" />

        <activity
            android:name=".presentation.legacy.cal.CalActivity"
            android:theme="@style/Theme.ComposeSample" />

        <activity
            android:name=".presentation.legacy.scope.ScopeActivity"
            android:theme="@style/Theme.ComposeSample" />

        <activity
            android:name=".presentation.legacy.scope.sub.RememberCoroutineActivity"
            android:theme="@style/Theme.ComposeSample" />

        <activity
            android:name=".presentation.legacy.scope.sub.LaunchedEffectActivity"
            android:theme="@style/Theme.ComposeSample" />

        <activity
            android:name=".presentation.legacy.scope.sub.ProduceStateActivity"
            android:theme="@style/Theme.ComposeSample" />

        <activity
            android:name=".presentation.legacy.movie.MovieActivity"
            android:theme="@style/Theme.ComposeSample" />

        <activity
            android:name=".presentation.legacy.hash.HashTagActivity"
            android:theme="@style/Theme.ComposeSample" />

        <!-- Blog example activity -->
        <activity
            android:name=".presentation.example.BlogExampleActivity"
            android:theme="@style/Theme.ComposeSample"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presentation.example.component.intent.PassingIntentDataActivity"
            android:theme="@style/Theme.ComposeSample"
            android:windowSoftInputMode="adjustResize" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.composesample"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>